<template>

  <section class="ui grid segment">
    <div class="four wide column">
      <compose view-model="./donate"></compose>
    </div>
    <div class="four wide column">
      <compose class="four wide column" view-model="./report"></compose>
    </div>
    <div class="four wide column">
      <compose class="four wide column" view-model="./candidates"></compose>
    </div>
    <div class="four wide  column">
      <compose class="ui column" view-model="./stats"></compose>
    </div>
  </section>

</template>
